#pragma code_page(65001)
#include "resource.h"
#include "windows.h"

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

IDD_TIPS_SETTING DIALOGEX 0, 0, 258, 154
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOPMOST
CAPTION "提示窗口设置"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x86
BEGIN
    GROUPBOX        "上方列表",IDC_STATIC,8,7,242,82
    CONTROL         "网络",IDC_TIPS_TRAFFIC_ENABLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,18,24,40,12
    LTEXT           "最大行数",IDC_STATIC,80,26,38,10
    EDITTEXT        IDC_TIPS_TRAFFIC_ROWS,124,23,36,14,ES_NUMBER | ES_CENTER | WS_TABSTOP
    LTEXT           "1-64",IDC_STATIC,166,26,25,10
    CONTROL         "CPU",IDC_TIPS_CPU_ENABLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,18,45,40,12
    LTEXT           "显示行数",IDC_STATIC,80,47,38,10
    EDITTEXT        IDC_TIPS_CPU_ROWS,124,44,36,14,ES_NUMBER | ES_CENTER | WS_TABSTOP
    LTEXT           "1-64",IDC_STATIC,166,47,25,10
    CONTROL         "内存",IDC_TIPS_MEMORY_ENABLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,18,66,40,12
    LTEXT           "显示行数",IDC_STATIC,80,68,38,10
    EDITTEXT        IDC_TIPS_MEMORY_ROWS,124,65,36,14,ES_NUMBER | ES_CENTER | WS_TABSTOP
    LTEXT           "1-64",IDC_STATIC,166,68,25,10
    LTEXT           "窗口可见行数",IDC_STATIC,12,101,58,10
    EDITTEXT        IDC_TIPS_VISIBLE_ROWS,76,98,36,14,ES_NUMBER | ES_CENTER | WS_TABSTOP
    LTEXT           "4-30",IDC_STATIC,118,101,25,10
    PUSHBUTTON      "选择字体...",IDC_TIPS_CHOOSE_FONT,166,96,76,18
    DEFPUSHBUTTON   "保存",IDC_TIPS_SAVE,126,128,54,18
    PUSHBUTTON      "取消",IDC_TIPS_CANCEL,188,128,54,18
END
